.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}

.navbar .profile{
    width: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dark-mode .navbar {
  background-color: var(--bg-color);
}

.dark-mode .logo {
  filter: none; 
}

.dark-mode .profile {
  border-color: var(--border-color);
}